/* CSS for styling the form */
.container-eval {
  width = 50%;
  max-width = 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin:0 auto;
}
.container-eval form {
  display: flex;
  flex-direction: column;
}
.container-eval label {
  font-weight: bold;
}
.container-eval textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: vertical;
}
.rating {
  display: flex;
}
.rating label {
  margin-right: 10px;
  cursor: pointer;
}
.rating input[type="radio"] {
  display: none;
}
.rating label:before {
  content: "★";
  font-size: 24px;
  color: #ccc;
}
.rating input[type="radio"]:checked + label:before {
  color: #ffc107; /* Color for selected stars */
}
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
